<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNG Common Drug Doses and Fluid Rate Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>PNG Common Drug Doses and Fluid Rate Calculator</h1>
        <form method="post">
            <p>Calculation Type:</p>
            <input type="radio" id="common" name="calc_type" value="common" checked>
            <label for="common">Common Calculations</label><br>
            <input type="radio" id="emergency" name="calc_type" value="emergency">
            <label for="emergency">Emergency Calculations</label><br>
            <input type="radio" id="disease" name="calc_type" value="disease">
            <label for="disease">Go to Disease Conditions</label><br>
            <br>
            Enter the child's weight in kg: <input type="text" name="weight">
            <input type="submit" value="Calculate">
        </form>

        {% if calc_type %}
            <h2>Child's Weight: {{ weight }} kg</h2>
            {% if calc_type == "common" %}
                <h1>Drug Doses (mg)</h1>
                <ul>
                    {% for drug, dose in doses.items() %}
                    <li>{{ drug }}: {{ dose }} mg</li>
                    {% endfor %}
                </ul>

                <h1>Fluid Requirements</h1>
                <ul>
                    {% for bolus, volume in bolus_fluids.items() %}
                    <li>{{ bolus }}: {{ volume }} mL</li>
                    {% endfor %}
                </ul>
                <p>Maintenance Rate (4:2:1 Rule): {{ maintenance_rate }} mL/hour</p>
                <p>Two Thirds Maintenance Rate (⅔ MR): {{ two_thirds_maintenance_rate }} mL/hour</p>
            {% elif calc_type == "emergency" %}
                <h1>Emergency Calculations</h1>
                
                <h2>Drugs</h2>
                <ul>
                    {% for drug, dose in doses["Drugs"].items() %}
                    <li>{{ drug }}: {{ dose }} mg</li>
                    {% endfor %}
                </ul>
                
                <h2>RSI and ETT</h2>
                <h3>Drugs</h3>
                <ul>
                    {% for drug, dose in doses["RSI and ETT"]["Drugs"].items() %}
                    <li>{{ drug }}: {{ dose }} mg</li>
                    {% endfor %}
                </ul>
                <h3>ETT Size and Length</h3>
                <ul>
                    {% for item, value in doses["RSI and ETT"]["ETT Size and Length"].items() %}
                    <li>{{ item }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                
                <h2>Fluid Requirements</h2>
                <ul>
                    {% for bolus, volume in bolus_fluids.items() %}
                    <li>{{ bolus }}: {{ volume }} mL</li>
                    {% endfor %}
                </ul>
                <p>Maintenance Rate (4:2:1 Rule): {{ maintenance_rate }} mL/hour</p>
                <p>Two Thirds Maintenance Rate (⅔ MR): {{ two_thirds_maintenance_rate }} mL/hour</p>
            {% elif calc_type == "disease" %}
                <script>
                    window.location.href = "{{ url_for('disease') }}";
                </script>
            {% endif %}
            <p><strong><a href="/">Go back</a></strong></p>
        {% endif %}

        <p>Use ⅔ MR for patients having severe malnutrition, heart failure, meningitis or head injury</p>
    </div>
    <footer>
        <p>&copy; 2024 Lincoln Kumbeli - still under development so use at your own risk</p>
    </footer>
</body>
</html>